# Arquivos temporários do Office
~$*

# Arquivos de ambiente virtual
venv/
.env

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos de build
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg 